.md-fab-toolbar {
  margin-top: 10px;
}

.md-primary {
  background: #3a3c48 !important;
}

.md-fab-toolbar-background {
  left: 0;
}

.acme-navbar-text{
  // color: white;
}

a {
  // color: black;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

a:hover, a:focus {
  // color: greenyellow;
}

nav {
  background: #3a3c48 !important;
  border: none !important;

  padding: 0;


  a {
    color: white !important;
    .navbar-brand {
      color: #FD6215 !important;
    }
  }

  img {
    margin-top: 2.5px;
    margin-bottom: 2.5px; 
    margin-right: 20px;

    @media only screen and (max-width: 750px) {
        margin-left: 10px;
    }
    
  }

  p {
    color: white !important;
  }
}


.dd-menu {
  background: #212229;

  a {
    color: white !important;
    // background: #212229 !important;
    &:hover {
      background: #717175 !important;
    } 
  }
}

.active {
  a {
    background-color: #FD6215 !important;

    &:hover {
      background: #FD6215 !important;
    }
  }
}

.navbar-toggle {
    &:hover {
      background: #3a3c48 !important;
    }
}