<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">
        <!--<span class="glyphicon glyphicon-home"></span> -->
        Tiktokk
        <!--<img alt="Brand" src="...">-->
      </a>
    </div>
    

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
      </ul>

      <!--<p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Default User <span class="glyphicon glyphicon-menu-down"></span> </a></p>-->
      <p class="navbar-text navbar-right acme-navbar-text">Application was created {{ vm.relativeDate }}.</p>
    </div>
  </div>
</nav>

<!--
<md-fab-toolbar>
  <md-fab-trigger class="align-with-text">
    <md-button aria-label="menu" class="md-raised md-fab md-primary">
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </md-button>
  </md-fab-trigger>
  <md-toolbar>
    <md-fab-actions class="md-raised md-toolbar-tools">
      <md-button aria-label="comment" class="md-icon-button">
        <md-icon md-svg-src="img/icons/ic_comment_24px.svg"></md-icon>
        <span class="">Home</span>
      </md-button>
      <md-button aria-label="label" class="md-icon-button">
        <span class="">Home</span>
      </md-button>
      <md-button aria-label="photo" class="md-icon-button">
        <span class="">Home</span>
      </md-button>
    </md-fab-actions>
  </md-toolbar>
</md-fab-toolbar>-->
