<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron text-center">

    <!-- Timer -->
    <div ng-controller="TimeController">
      <timer class="bh" autostart="false" interval="1000">
        <h1>{{hours}}h : {{minutes}}m : {{seconds}}s</h1>
      </timer>

      <button class="btn btn-lg btn-primary" ng-click="startTimer()">{{buttonText}} Timer</button>
      <button class="btn btn-lg btn-default btn-stop" ng-click="resetTimer()">Reset Timer</button>
    </div>

    <!-- Input form -->
    <div ng-controller="MainController as todoList">
      <form class="form-inline" ng-submit="todoList.addTodo()">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="todoList.todoText" size="60" placeholder="Enter a meeting topic">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" ng-model="todoList.todoTime" min="1" max="60">
        </div>

        <button class="btn btn-primary" type="submit">Add</button>
      </form>
    </div>

    <!-- Topic list -->
    <div ng-controller="TableController">
      <table ui-tree="treeOptions" id="tree-root" class="table table-responsive">
        <thead>
          <tr>
            <th>Sort</th>
            <th>Complete</th>
            <th width="40%">Topic</th>
            <th width="20%">Duration</th>
            <th width="20%">Time</th>
            <th>Remove</th>		   
          </tr>
        </thead>
        <tbody ui-tree-nodes ng-model="list">
          <tr ng-repeat="todo in list" ui-tree-node class="{{$first ? 'active' : ''}} {{todo.rowClass}}">
            <td>
              <span class="glyphicon glyphicon-resize-vertical sort-btn " ui-tree-handle></span> 
            </td>
            <td>
              <input type="checkbox" ng-model="todo.done">
            </td>
            <td>
              <strong>{{todo.text}}</strong> 
            </td>
            <td>
              <strong>{{todo.duration}}</strong> 
            </td>
            <td>
              <strong>{{todo.time}}</strong> 
            </td>
            <td>
              <a class="pull-right btn btn-xs remove-btn" data-nodrag ng-click="remove($index)">
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <span>{{remaining()}} of {{list.length}} remaining</span>
      <!--[ <a href="" ng-click="todoList.archive()">archive</a> ]-->
    </div>

  </div>

  <p>
    Created by <a href="http://davidfarrow.me">David Farrow</a> &#9996;. Thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>
  </p>

</div>
