<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron text-center">

    <!-- Timer -->
    <div ng-controller="TimeController">
      <timer class="bh" autostart="false" interval="1000">
        <h1>{{hours}}h : {{minutes}}m : {{seconds}}s</h1>
      </timer>

      <md-button class="md-raised btn-orange" ng-click="startTimer()">{{buttonText}} Timer</md-button>
      <md-button class="md-raised btn-stop" ng-click="resetTimer()">Reset Timer</md-button>
    </div>

    <!-- Input form -->
    <div ng-controller="MainController as todoList">
      <form class="form-inline" ng-submit="todoList.addTodo()">
        <div layout-gt-xs="row">
          <div layout="column" flex="100">
            <md-input-container class="md-block">
              <label>Enter a topic</label>
              <input required type="text"  ng-model="todoList.todoText">
            </md-input-container>
          </div>

          <div layout="column"  flex-gt-sm="15" flex="100">
            <md-input-container class="md-block" >
              <label>Duration</label>
              <input required type="number" ng-model="todoList.todoTime" min="1" max="60">
            </md-input-container>
          </div>

          <div layout="column" flex="nogrow">
            <md-input-container class="md-block" >
              <md-button class="md-raised add-btn btn-orange" type="submit"> Add </md-button>
            </md-input-container>
          </div> 
        </div>
      </form>
    </div>

    

    <!-- Topic list -->
    <div ng-controller="TableController" class="table-responsive">
      <table ui-tree="treeOptions" id="tree-root" class="table table-responsive">
        <thead>
          <tr>
            <th width="5%">Sort</th>
            <th width="10%">Complete</th>
            <th width="40%">Topic</th>
            <th width="20%">Duration</th>
            <th width="20%">Time</th>
            <th></th>		   
          </tr>
        </thead>
        <tbody ui-tree-nodes ng-model="list">
          <tr ng-repeat="todo in list" ui-tree-node class="{{$first ? 'row-active' : ''}} {{todo.done ? 'row-complete' : ''}} {{todo.rowClass}}">
            <td>
              <span class="glyphicon glyphicon-resize-vertical sort-btn " ui-tree-handle></span> 
            </td>
            <td>
              <md-checkbox ng-model="todo.done"></md-checkbox>
            </td>
            <td> {{todo.text}} </td>
            <td> {{todo.duration}} </td>
            <td> {{todo.time}} </td>
            <td>
              <a class="pull-right btn btn-xs remove-btn" data-nodrag ng-click="remove($index)">
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <span>{{remaining()}} of {{list.length}} remaining</span>
      <!--[ <a href="" ng-click="todoList.archive()">archive</a> ]-->
    </div>

  </div>

  <p class="footer">
    Created by <a href="http://davidfarrow.me">David Farrow</a> &#129304;. Thanks to<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>
  </p>

</div>
