/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #0EA876;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

body {
  background: #212229 !important;
}
.main {
  background: #212229 !important;
}

.footer {
    color: #717175;
}





.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}



.btn-stop {
  background: #717175 !important; 
  color: #fff !important;
}

.btn-stop:hover {
  background: #555; 
  color: #fff;
}

.add-btn {
  margin: auto;
  margin-left: 10px;
  height: 20px;
}

.btn-orange {
    background: #FD6215 !important;
    color: white !important;
}

.jumbotron {
  background: #3a3c48;
  color: white;

  margin-top: 15px;
  margin-bottom: 10px;

  padding-bottom: 30px; 
  
  h1 {
    font-size: 8em;
    @media only screen and (max-width: 700px) {
        font-size: 4.5em;
    }
  }

  .btn-lg {
    width: 130px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 40px;
    margin-top: 10px;
  }

  form {
    margin-top: 30px; 
    margin-bottom: 0px; 
  }
}




.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

tr.angular-ui-tree-empty {
    height:100px
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}


/* --- Tree --- */
.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}

.nodrop {
    background-color: #f2dede;
}

.tree-node-content {
    margin: 10px;
}
.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


table {
  th {
    text-align: center;
  }

  .sort-btn {
    background: none; 
    border: none;
    color: #fff;
  }

  .remove-btn{
    color: #fff;
  }
}

.row-active {
  background: #717175;
}

.row-warning {
  background: #717175;
}

.row-complete {
  background: #717175;
}

md-checkbox.md-checked .md-icon {
 background-color: #FD6215;
}


// normal
md-input-container:not(.md-input-invalid) .md-input {
    border-color: white;
    font-weight: normal !important;
}

md-input-container:not(.md-input-invalid) label {
    color: white;
    font-weight: normal !important;
}

// normal focused
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: white;
    font-weight: normal !important;
    color: white !important;
}

md-input-container:not(.md-input-invalid).md-input-focused label {
    color: white;
    font-weight: normal !important;
}

// normal un-focused
md-input-container:not(.md-input-invalid):not(.md-input-focused) .md-input {
    border-color: white;
    font-weight: normal !important;
    color: white !important;
}

md-input-container:not(.md-input-invalid):not(.md-input-focused) label {
    color: white;
    font-weight: normal !important;
}


// invalid 
md-input-container.md-input-invalid .md-input {
    border-color: white !important;
    font-weight: normal !important;
}

md-input-container.md-input-invalid label {
    color: white !important;
    font-weight: normal !important;
}




/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
